
.login-child {
    position: absolute;
    top: 135px;
    left: 160px;
    box-shadow: 2px 4px 22.4px -3px rgba(0, 0, 0, 0.25);
    border-radius: var(--br-sm);
    background-color: var(--putih);
    border: 1px solid var(--color-darkgray-100);
    box-sizing: border-box;
    width: 959px;
    height: 562px;
    margin-left: 315px;
  }
  .login1 {
    position: relative;
    color: white;
    background-color: transparent;
    width: 430px;
    height: 52px;
  }
  .login-wrapper {
    position: absolute;
    top: 511px;
    left: calc(50% - 215px);
    box-shadow: 0 0 2.2px rgba(0, 0, 0, 0.25);
    border-radius: var(--br-4xs);
    background: linear-gradient(139.41deg, #c9a180, #3b2410);
    border: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 430px;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-mini);
    font-size: var(--font-size-xl);
    color: var(--putih);
  }
  .login2 {
    position: absolute;
    top: 251px;
    left: calc(50% - 96px);
    font-size: var(--font-size-14xl);
    font-weight: 800;
    text-align: center;
    display: inline-block;
    width: 192px;
    
    
  }
  .user-round-icon {
    width: 28px;
    position: relative;
    height: 28px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: contain;
  }
  .username {
    position: relative;
    font-weight: 600;
    border: none; /* Removed border */
  }
  .user-round-parent {
    position: absolute;
    top: 329px;
    left: calc(50% - 215px);
    box-shadow: 0 0 2.2px rgba(0, 0, 0, 0.25);
    border-radius: var(--br-9xs);
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 430px;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--padding-mini);
    gap: var(--gap-mini);
    color: var(--color-darkslateblue-100);
    border: none; /* Removed border */
  }
  .vector-icon {
    width: 18px;
    position: relative;
    height: 20px;
  }
  .instance-group,
  .vector-wrapper {
    width: 26px;
    height: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-11xs);
    box-sizing: border-box;
  }
  .instance-group {
    position: absolute;
    top: 418px;
    left: calc(50% - 215px);
    box-shadow: 0 0 2.2px rgba(0, 0, 0, 0.25);
    border-radius: var(--br-9xs);
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-gainsboro);
    width: 430px;
    height: 52px;
    justify-content: flex-start;
    padding: 0 var(--padding-mini);
    gap: var(--gap-mini);
    color: var(--color-darkslateblue-100);
  }
  .dont-have-an-container {
    position: absolute;
    top: 577px;
    left: calc(50% - 38px);
    font-size: var(--font-size-xs);
    cursor: pointer;
  }
  .kembang-ayu6 {
    position: relative;
    background: linear-gradient(139.41deg, #c9a180, #3b2410);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 320px;
    font-size: 2rem; 
  }
  .kembang-ayu-frame {
    position: absolute;
    top: 142px;
    left: 181px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-4xs-9);
    font-size: var(--font-size-13xl);
    font-family: var(--font-dancing-script);
  }
  .login {
    width: 100%;
    position: relative;
    background-color: var(--color-6);
    height: 832px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--biru-tua);
    font-family: var(--font-nunito-sans);
  }
  
  .username-input,
  .password-input {
    
    border: none; /* Removed border */
    outline: none;
  }

  .create-account-link {
    display: inline-block; /* Mengatur teks agar kesamping */
  }
  .success-popup {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(139.41deg, #4e2e13, #fba045);
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    text-align: center;
  }
  
  