/* Reserved.css */
.back-container1 {
  height: 100vh; /* Full height */
  background: linear-gradient(to bottom right, #96571c, #ffbd80, #96571c);
}

.reserved {
  font-family: 'Arial', sans-serif;
  max-width: 1000px;
  height: 800px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border: 10px;
  border-radius: 15px;
  margin-top: 10px;
  position: relative;
  top: 12px;
}

.reservation {
  font-family: var(--font-cormorant-garamond);
  font-size: 50px;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

.data {
  color: var(--color-dimgray);
  font-family: var(--font-corinthia);
  font-size: 50px;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 10px;
}

.reserved-inner {
  text-align: center;
  margin-bottom: 100px;
}

.fill-in-the {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: -50px;
  font-family: 'Arial', sans-serif; /* Font family */
}

.kembangayu {
  display: block;
  text-align: center;
  font-size: 40px; /* Font size increased for emphasis */
  font-family: var(--font-dancing-script);
  margin-bottom: 90px;
  font-weight: bold; /* Bold font weight */
  color: #8b4513; /* Warna coklat */
}

.input-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 70px;
}

.input-item, .input-item2 {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-bottom: 20px;
  font-family: var(--font-cormorant-garamond);
  font-size: 20px;
}

.input-item1, .input-item3 {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 30px;
}

input[type="text-1"],
input[type="email"],
select,
input[type="date"] {
  padding: 10px;
  border: 2px solid rgb(135, 135, 135);
  border-radius: 15px;
  font-size: 16px;
  width: 100%;
  font-family: 'Arial', sans-serif; /* Font family */
}

.select-group {
  margin-bottom: 20px;
  font-family: var(--font-cormorant-garamond);
  font-size: 20px;
}

.select-item {
  margin-bottom: 10px;
}

.label {
  font-size: 16px;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px; /* Increased padding for better touch experience */
  margin: 0 10px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Arial', sans-serif; /* Font family */
  font-weight: bold; /* Bold font weight */
  text-transform: uppercase; /* Uppercase text */
}

.reset-button {
  font-family: var(--font-cormorant-garamond);
  background: linear-gradient(to bottom right, #623001, #96571c, #ffbd80, #96571c);
  color: #fff;
}

.send-button, .back {
  font-family: var(--font-cormorant-garamond);
  background: linear-gradient(to bottom right, #623001, #96571c, #ffbd80, #96571c);
  color: #fff;
}

.button-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .input-group {
    grid-template-columns: 1fr;
  }
}

.success-reserved {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(139.41deg, #4e2e13, #fba045);
  color: white;
  font-size: 25px;
  width: 400px;
  padding: 15px;
  border-radius: 20px;
  z-index: 1000;
  text-align: center;
}

