.group-child9 {
    position: absolute;
    top: 150px;
    left: calc(50% - 310px);
    border-radius: var(--br-31xl);
    background: linear-gradient(
      0deg,
      #f1ebe6,
      #cab5a3 50%,
      #a38062 75%,
      #70533a 87.5%,
      #3c2511
    );
    width: 620px;
    height: 480px;
    border-radius: 30px;
  }
  .group-child10,
  .group-child11 {
    position: absolute;
    border-radius: var(--br-3xs);
    background-color: var(--color-6);
    width: 450px;
  }
  .group-child10 {
    top: 272px;
    left: calc(50% - 224px);
    height: 243px;
  }
  .group-child11 {
    top: 0;
    left: 0;
    height: 56px;
  }
  .name2 {
    position: absolute;
    top: 16.2px;
    left: 25.1px;
    line-height: 110%;
    display: flex;
    align-items: center;
    width: 64px;
    height: 23.7px;
  }
  .rectangle-parent10 {
    position: absolute;
    top: 197px;
    left: 84px;
    width: 450px;
    height: 56px;
  }
  .your-assessment {
    position: absolute;
    top: 289px;
    left: 109px;
    line-height: 110%;
    display: block; /* Mengubah zona teks menjadi blok */
    width: 380px; /* Lebar kotak */
    height: 180px; /* Tinggi kotak */
    padding: 10px; /* Padding untuk memberikan ruang di dalam kotak */
    border: none;
    outline: none;
}

  .your1 {
    font-family: var(--font-corinthia);
    color: var(--color-dimgray);
  }
  .give-your-assessment-container {
    position: absolute;
    top: 50px;
    left: calc(50% - 224px);
    font-size: 50px;
    line-height: 110%;
    text-transform: capitalize;
    display: inline-block;
    width: 500px;
    height: 85px;
    color: var(--color-8);
    font-family: var(--font-cormorant-garamond);
  }
  .instance-child5,
  .send7 {
    position: absolute;
    height: 100%;
    top: 0;
  }
  .instance-child5 {
    width: 100%;
    right: 0;
    bottom: 0;
    left: 20px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    border: none;
    outline: none;
  }
  .send7 {
    width: 74.61%;
    left: 12.72%;
    line-height: 110%;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .vector-parent5 {
    position: absolute;
    top: 546px;
    left: calc(50% - 108px);
    width: 217px;
    height: 42px;
    text-align: center;
    font-size: var(--font-size-6xl);
    color: var(--color-6);
    font-family: var(--font-cormorant-garamond);
  }
  .rectangle-parent9 {
    position: absolute;
    top: 119px;
    left: calc(50% - 310px);
    width: 620px;
    height: 630px;
  }
  .testimoni-form {
    width: 100%;
    position: relative;
    border-radius: var(--br-31xl);
    background-color: var(--color-6);
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-darkgray-200);
    font-family: var(--font-inter);
  }
  